.svelte-18eaq6o::-webkit-scrollbar-track{background:var(--back-color)}.svelte-18eaq6o::-webkit-scrollbar-thumb{background-color:color-mix(in srgb,var(--blue-color),white);border-radius:8px;cursor:pointer}
