/* src/app.css */
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family:
    'Montserrat',
    -apple-system,
    BlinkMacSystemFont,
    segoe ui,
    Roboto,
    helvetica neue,
    Arial,
    noto sans,
    sans-serif,
    apple color emoji,
    segoe ui emoji,
    segoe ui symbol,
    noto color emoji;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 640px;
  text-align: center;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}

p {
  margin: 0;
}

label {
  margin: 0;
  font-weight: bold;
}

hr {
  margin: 0.25rem 0;
}

ul,
ol {
  padding-left: 1rem;
  margin: 0.25rem 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}

li {
  margin: 0.25rem 0;
}

blockquote {
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 4px solid #ccc;
  font-style: italic;
}

pre {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  white-space: pre;
}

code {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  background-color: var(--container-color);
  border-radius: 0.5rem;
  white-space: pre;
  font-family: monospace;
}

/* Устранение стилей для ссылок */
a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  text-decoration: underline;
}

input::placeholder {
  opacity: 0.5;
}

/* Стили полосы прокрутки */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 8px;
  cursor: pointer;
}

/* Цветовая гамма */
.light {
  --back-color: #ffffff; /* Белый */
  --border-color: #b2bbca; /* Светлые серо-голубые границы */
  --container-color: #f3f4f6; /* gray-100 */
  --field-color: #ecf2fa; /*цвет маленьких полей, например полей ввода*/
  --shadow-color: #34343a;

  --gray-color: #d1d5db; /* gray-300 */
  --red-color: #fca5a5; /* red-300 */
  --orange-color: #fdba74; /* orange-300 */
  --yellow-color: #fde047; /* yellow-300 */
  --green-color: #86efac; /* green-300 */
  --cyan-color: #67e8f9; /* cyan-300 */
  --blue-color: #93c5fd; /* blue-300 */
  --purple-color: #d8b4fe; /* purple-300 */
  --pink-color: #f9a8d4; /* pink-300 */
}

.dark {
  --back-color: #111827; /* gray-900 */
  --border-color: #585c63; /* Границы - темный серо-синий */
  --container-color: #1f2937; /* gray-800 */
  --field-color: #2d3748; /*цвет маленьких полей, например полей ввода*/
  --shadow-color: #d4d4d8;

  --gray-color: #374151; /* gray-700 */
  --red-color: #991b1b; /* red-800 */
  --orange-color: #c2410c; /* orange-700 */
  --yellow-color: #a16207; /* yellow-600 */
  --green-color: #15803d; /* green-700 */
  --cyan-color: #0e7490; /* cyan-700 */
  --blue-color: #1d4ed8; /* blue-600 */
  --purple-color: #7e22ce; /* purple-700 */
  --pink-color: #be185d; /* pink-700 */
}

.bg-max {
  --bg-color: var(--back-color);
}
.bg-gray {
  --bg-color: var(--gray-color);
}
.bg-red {
  --bg-color: var(--red-color);
}
.bg-orange {
  --bg-color: var(--orange-color);
}
.bg-yellow {
  --bg-color: var(--yellow-color);
}
.bg-lime {
  --bg-color: var(--lime-color);
}
.bg-green {
  --bg-color: var(--green-color);
}
.bg-cyan {
  --bg-color: var(--cyan-color);
}
.bg-blue {
  --bg-color: var(--blue-color);
}
.bg-purple {
  --bg-color: var(--purple-color);
}
.bg-pink {
  --bg-color: var(--pink-color);
}

.border-max {
  --border-color: var(--back-color);
}
.border-gray {
  --border-color: var(--gray-color);
}
.border-white {
  --border-color: var(--white-color);
}
.border-red {
  --border-color: var(--red-color);
}
.border-orange {
  --border-color: var(--orange-color);
}
.border-yellow {
  --border-color: var(--yellow-color);
}
.border-lime {
  --border-color: var(--lime-color);
}
.border-green {
  --border-color: var(--green-color);
}
.border-sky {
  --border-color: var(--sky-color);
}
.border-blue {
  --border-color: var(--blue-color);
}
.border-purple {
  --border-color: var(--purple-color);
}
.border-pink {
  --border-color: var(--pink-color);
}

/* Все возможные именованные цвета из Tailwind
bg-stone-400     border-stone-400'
bg-red-400       border-red-400
bg-orange-400    border-orange-400
bg-amber-400     border-amber-400
bg-yellow-400    border-yellow-400
bg-lime-400      border-lime-400
bg-green-400     border-green-400
bg-emerald-400   border-emerald-400
bg-teal-400      border-teal-400
bg-cyan-400      border-cyan-400
bg-sky-400       border-sky-400
bg-blue-400      border-blue-400
bg-indigo-400    border-indigo-400
bg-violet-400    border-violet-400
bg-purple-400    border-purple-400
bg-fuchsia-400   border-fuchsia-400
bg-pink-400      border-pink-400
bg-rose-400      border-rose-400
*/
